<div class="container" style="margin-top: 80px;">
  <div class="row">
    <div class="span12 offset3">
      <div class="content">
        <h3>Ruby2, Rails4 and Bootstrap3 demo</h3>
      </div>
    </div>
  </div>
</div>
